.card-bounce:hover {
  animation: bounce 0.5s linear;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-2px);
  }

  80% {
    transform: translateY(0px);
  }
}

.cardmon {
  transition: 0.45s ease-out;
  animation-duration: 1.6s;
}
